body {
  display: flex;
  justify-content: space-around;
  align-items: center; 
  font-family: 'Roboto', sans-serif;
  background-color: #ebf1fe;
  z-index: -1;

}

.card {
  width: 30rem;
  display: flex;
  background-color: #f7dadb;
  justify-content: flex-end;
}

.card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

#info {
  padding: 5px 0px 5px 0px;
  width: 25rem;
  background-color: white;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 51%);
}

#info, p, ul {
  margin-left: 7rem;
}

.titles {
  font-size: 14px;
  color: black;
}

p, ul {
  font-size: 12px;
  color: #a4a4a4;
}

