body {
    margin: 0px !important;
}

#black-block {
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    width: 100vw;
    height: 10vh;
    padding: 2vw;
}

#photo-first {
    height: 70vh;
    width: 30vw;
    background-color: aqua;
}


#content-box {
    display: flex;
}

#text-black {
    padding: 2vw;
    width: 30vw;
}

#second-box{
    width: 100vw;
    height: 100vh;
}

#text-white {
    width: 30vw;
    height: 80vh;
}

#photo-second {
    height: 70vh;
    width: 30vw;
    background-color: aqua;
}

#second-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#third-box {
    height: 150vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

#third-right {
    width: 30vw;
    height: 100vh;
}

#third-left {
    width: 40vw;
    height: 80vh;
}

#one {
    display: flex;
    width: 100%;
    height: 40%;
    justify-content: flex-start;
}

#one-inner {
    width: 50%;
    background-color: purple;
}

#two {
    display: flex;
    width: 100%;
    height: 20%;
}

#three {
    display: flex;
    width: 100%;
    height: 40%;
    justify-content: flex-end;
}

#three-inner {
    width: 50%;
    background-color: purple;
}