#page {
    display: flex;
}

.panel {
    width: 33vw;
}

#panel-left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.hover-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3vh;
}


#panel-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

#links {
    display: flex;
}

.masked-w {
    -webkit-mask-image: url(https://lh3.googleusercontent.com/proxy/4nykzEA3O3D0HJPKgefwl6tsOfO6OWig1CQLI4nX0UChUjfyJ-7JyeZYNEfC6nxCvcHpuqeC-MRefE5j-hSW9V51lTTIvaTejDbi4WXx39ETC82ejLgfUx6i_J4MiDGR);
    mask-image: url(https://lh3.googleusercontent.com/proxy/4nykzEA3O3D0HJPKgefwl6tsOfO6OWig1CQLI4nX0UChUjfyJ-7JyeZYNEfC6nxCvcHpuqeC-MRefE5j-hSW9V51lTTIvaTejDbi4WXx39ETC82ejLgfUx6i_J4MiDGR);
    -webkit-mask-position: left bottom;
    mask-position: left bottom;
    width: 36vw;
    height: 41vh;
}

.masked-m {
    -webkit-mask-image: url(https://lh3.googleusercontent.com/proxy/4nykzEA3O3D0HJPKgefwl6tsOfO6OWig1CQLI4nX0UChUjfyJ-7JyeZYNEfC6nxCvcHpuqeC-MRefE5j-hSW9V51lTTIvaTejDbi4WXx39ETC82ejLgfUx6i_J4MiDGR);
    mask-image: url(https://lh3.googleusercontent.com/proxy/4nykzEA3O3D0HJPKgefwl6tsOfO6OWig1CQLI4nX0UChUjfyJ-7JyeZYNEfC6nxCvcHpuqeC-MRefE5j-hSW9V51lTTIvaTejDbi4WXx39ETC82ejLgfUx6i_J4MiDGR);
    -webkit-mask-position: left bottom;
    mask-position: left bottom;
    width: 36vw;
    height: 41vh;
    transform: rotate(180deg);
    position: absolute;
}



.fas {
    font-size: 5vh;
}

.non-hover-hide {
    display: none;
}





